# This file contains common pin mappings for the BIGTREETECH toolhead_t1
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu toolhead_t1]
canbus_uuid=d31c692781e5

[adxl345]
cs_pin: toolhead_t1: PB12
spi_software_sclk_pin: toolhead_t1: PB10
spi_software_mosi_pin: toolhead_t1: PB11
spi_software_miso_pin: toolhead_t1: PB2
axes_map: x,y,z

[extruder]
step_pin: toolhead_t1: PD0
dir_pin: !toolhead_t1: PD1
enable_pin: !toolhead_t1: PD2
microsteps: 8
rotation_distance: 22.72
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: toolhead_t1: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: toolhead_t1: PA3
control: pid
pid_Kp: 28.614
pid_Ki: 3.347
pid_Kd: 61.163
min_temp: 0
max_temp: 280

[tmc2209 extruder]
uart_pin: toolhead_t1: PA15
run_current: 0.400
stealthchop_threshold: 0

[probe]
pin: ^toolhead_t1: PB9
x_offset: 0
y_offset: 0
z_offset = -0.815
speed: 2.25
lift_speed: 8
samples: 3
samples_tolerance: 0.2
samples_result: median
sample_retract_dist: 1.50
samples_tolerance_retries: 4


activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
        { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
        TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[fan]
pin: toolhead_t1: PA0

[heater_fan hotend_fan]
pin: toolhead_t1: PA1
heater: extruder
heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: toolhead_t1:PD3
#chain_count: 3
#color_order: GRB #   Options are GRB, RGB, GRBW, or RGBW. The default is GRB.
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0
#initial_WHITE: 0.0